@import './node_modules/normalize.css/normalize.css';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 300px;
}

main {
    max-width: 600px;
    margin: 20px auto;
}

.bog {
    width: 100%;
    max-width: 400px;
    height: auto;
}

main:after {
    content: ' ';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 100%;
  max-height: 226px;
  transform: translateX(-50%);
  opacity: 0.8;
  background-image: url('./images/Samraadet_logo.png?as=webp');
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: contain;
}