html, body, #map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 400px;
  font-family: Arial, Helvetica;
}

.layer-switcher {
  top: inherit;
  right: inherit; 
  left: .5em;
  bottom: .5em;
}

.layer-switcher.shown {
  max-height: 80vh;
}

.geolocationcontrol {
  top: 67px;
  left: .5em;
}

.ol-touch .geolocationcontrol {
  top: 82px;
}

.bboxcontrol {
  top: 102px;
  left: .5em;
}

.ol-touch .bboxcontrol {
  top: 122px;
}

.valgt {
  border-style: solid;
}

.kortlinkcontrol {
  top: 97px;
  left: .5em;
}

.ol-touch .kortlinkcontrol {
  top: 112px;
}

.multisearchcontainer  { 
  top: .5em;
  right: .5em;
  width: 250px;
  font-size:12px;
}

.selectorcontainer {
  width: inherit;
}

.selector {
  width: inherit;
  font-size: inherit;
}

.container { 
  width: inherit;
}

.input { 
  width: inherit;
  font-size: inherit;
  margin-top: 9px;
}

.ol-popup-content {
    width: 200px;
}

.popupoverskrift {
  margin: 0;
}

#kortlink, #skråfotolink, #fjern {
  margin-right: 10px;
}
